.resources-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 0 auto;
    text-align: center;
    background-color: #444;
}

.resources-list {
    list-style: none;
    padding: 0;
    margin-top: 1.5rem;
}

.resources-list li {
    margin: 1rem 0;
    padding: 0.5rem;
    background-color: rgb(86, 86, 86);
}

.resources-list a {
    text-decoration: none;
    color: #61dafb;
    font-weight: bold;
    transition: color 0.3s ease;
}

.resources-list a:hover {
    color: #21a1f1;
}