button {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

button:disabled {
    background-color: #444444;
    color: #f0efef;
    cursor: not-allowed;
    opacity: 0.6;
}

section {
    background-color: #4f4949;
    justify-content: center;
    text-align: center;
    color: white;
} 

h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

p {
    color:antiquewhite;
}

div h3, h4 {
    color: antiquewhite;
}
