.token-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    padding: 1rem;
    background-color: #444;
}

.token-card {
    text-align: center; 
    background-color: #313131;
    padding: 0.5rem;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
}

.token-card img {
    width: 100%;
    height: auto;
    border-radius: 30%;
}

.token-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.token-card.selected {
    border: rgb(241, 39, 39);
    box-shadow: 0 0 10px rgb(234, 105, 6);
}