.header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #282c34;
    color: white;
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem
}

.nav-bard {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-link:hover,
.nav-link.active {
    color: #61dafb;
}